{
	"trailingComma": "es5",
	"tabWidth": 3,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/components/(.*)$",
		"^@/screens/(.*)$",
		"^@/ui/(.*)$",
		"^@/hooks/(.*)$",
		"^@/shared/(.*)$",
		"^@/utils/(.*)$",
		"^@/services/(.*)$",
		"^@/config/(.*)$",
		"^@/store/(.*)$",
		"^@/assets/(.*)$",
		"^../(.*)",
		"^./(.*)",
		"^(.scss)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
